In [1]:
import dask.dataframe as dd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [24]:
import pandas as pd
df1 = pd.read_csv('../data/I80_sample.txt')

In [4]:
df = dd.read_csv('../data/richards.csv', assume_missing = True)

In [6]:
df.head()

,timestamp,flow1,occupancy1,flow2,occupancy2,flow3,occupancy3,totalflow,weekday,hour,minute,second
0,2016-01-01 00:00:03,1.0,0.0056,3.0,0.0200,0.0,0.0000,4.0,4.0,0.0,0.0,0.0
1,2016-01-01 00:00:35,1.0,0.0044,1.0,0.0056,2.0,0.0111,4.0,4.0,0.0,0.0,30.0
2,2016-01-01 00:01:03,2.0,0.0111,5.0,0.0278,1.0,0.0111,8.0,4.0,0.0,1.0,0.0
3,2016-01-01 00:01:33,0.0,0.0000,2.0,0.0100,0.0,0.0000,2.0,4.0,0.0,1.0,30.0
4,2016-01-01 00:02:03,0.0,0.0000,2.0,0.0100,2.0,0.0178,4.0,4.0,0.0,2.0,0.0

In [5]:
df.shape[0].compute()

812617

In [7]:
db = 'foo'
db_url = f"mysql+pymysql://root:@localhost/{db}"
engine = create_engine(db_url)
if not database_exists(engine.url):
    create_database(engine.url)
df.to_sql(name='richards', uri=db_url, if_exists='append', index=False)

In [2]:
def insert_data(db: str, table_name: str, file_path: str):
    db_url = f"mysql+pymysql://root:@localhost/{db}"
    engine = create_engine(db_url)
    if not database_exists(engine.url):
        create_database(engine.url)
    try:
        df = dd.read_csv(file_path, assume_missing = True)
    except:
        print(f'Error raised while trying to read {file_path}')
    df.to_sql(name=table_name, uri=db_url, if_exists='replace', index=False)
    print('Data successfully inserted to mysql')

In [3]:
insert_data('foo', 'I80_sample', '../data/I80_sample.txt')

Data successfully inserted to mysql